
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Rubik&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.homepage{
    /* background-color: #41b3a3; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #5CDB95;
}