.card{
    width: 32%;
    height: 22%;
    background-color: hotpink;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 39px;
    transition: all 0.5s;
/* background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  20px 20px 29px #bababa,
             -20px -20px 29px #ffffff;; */
}

.card:hover{
    transform: scale(1.1);
}

.img-container{
    width: 100%;
    height: 80%;
    border-radius: 12px 12px 0px 0px;
}

.link-container{
    width: 100%;
    height: 20%;
    border-radius:  0px 0px 12px 12px;
    background-color: white;
    display: flex;
    justify-content: center;
    color: tomato;
    
}

.img-container{
    background-size: 100%;
}

.site{
   width: 40%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
.social{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
   
}

.icon{
    width: 38%;
    height: 38%;
    margin-left: 29px;
    margin-top: 15px;
    color: aqua;
  
}



.title{
    font-size: 26px;
    margin-left: 20px;
    color: #05368B;
}

a{
    color: #05368B;
}



